*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: serif;
}

h1{
   color: crimson;
   text-align: center;
}

p{
   color: goldenrod;
}

/* ctrl + ~ */

.card-wrapper{
   width: 400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 10px;
}

.card{
   width: 180px;
   height: 300px;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.card-text{
   text-align: center;
}